# business-analysis-ga3

Use the "Run" button to execute the code.

**CASE: Flash Cycles Targeted Mailing**

Flash Cycles, is a large, multinational manufacturing company. The company manufactures and sells metal and composite bicycles to North American, European and Asian commercial markets. While its base operation is located in Bothell, Washington with 290 employees, several regional sales teams are located throughout their market base.

In 2000, Adventure Works Cycles bought a small manufacturing plant, Importadores Neptuno, located in Mexico. Importadores Neptuno manufactures several critical subcomponents for the Flash Cycles product line. These subcomponents are shipped to the Bothell location for final product assembly. In 2001, Importadores Neptuno, became the sole manufacturer and distributor of the touring bicycle product group. Currently, there are four product lines: Mountain, Road, Sport and Touring. 

The marketing department of Flash Cycles wants to increase sales by targeting specific customers for a mailing campaign. By investigating the attributes of known customers, the company hopes to discover patterns that they can then apply to potential customers. They hope to use the discovered patterns to predict which prospective customers are most likely to purchase a product from the company.

DATA SET: Cyclebuyer.csv
The company's data warehouse, Flash Cycles DW, contains a list of past customers with their demographic data (TargetMail) with attributes such as ‘Cyclebuyer’, ‘MaritalStatus', 'YearlyIncome', 'TotalChildren', 'ChildrenAtHome', 'HouseOwnerFlag', 'NumberCarsOwned', 'Age'.

Please follow the instructions given below to complete your assignment.

i. Do not try feature engineering on the dataset as it will modify the answers

ii. Just Load the [train_LR.csv](https://drive.google.com/file/d/1wezBl6uA3zKD3YiEYUABkIs460LCJW2r/view)

iii. Create the dependent and independent variables for the training module (X_train, y_train)

iv. Similarly load the [test_LR.csv](https://drive.google.com/file/d/1ZeJw9YgszPRg583OrEBk1SRmrOv8_9je/view)

v. Create the dependent and independent variables for the test module (X_test, y_test)

vi. Run LogisticRegression() from sklearn module in default setup and predict cycle buyer as target (positives).

vii. Fit the model on X_train and y_train

viii. Do not try any hyper-prameter tuning on the model as it will modify the answers

ix. Predict on the X_train using the Logistic Regression model and store the predictions in y_pred_train

x. Predict on the X_test using the Logistic Regression model and store the predictions in y_pred_test

xi. Print the classification report for training and test data predictions

xii. Create the confusion matrix for test data

---

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
# Load train data
train_data = pd.read_csv('https://raw.githubusercontent.com/Yash-Kavaiya/iitm-diploma/main/BA/train_LR.csv')
train_data

,MaritalStatus,YearlyIncome,TotalChildren,ChildrenAtHome,HouseOwnerFlag,NumberCarsOwned,Age,MotorCycleBuyer
0,1,150000,4,5,1,4,45,0
1,1,120000,1,1,1,4,36,0
2,1,70000,2,0,0,2,38,0
3,1,80000,5,4,1,3,35,0
4,0,100000,3,2,0,1,40,0
...,...,...,...,...,...,...,...,...
12379,0,120000,1,0,1,1,26,1
12380,0,170000,1,3,0,3,35,0
12381,0,40000,0,0,0,1,17,0
12382,1,70000,1,0,1,0,25,1
12383,1,80000,4,2,1,2,44,0

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12384 entries, 0 to 12383
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MaritalStatus    12384 non-null  int64
 1   YearlyIncome     12384 non-null  int64
 2   TotalChildren    12384 non-null  int64
 3   ChildrenAtHome   12384 non-null  int64
 4   HouseOwnerFlag   12384 non-null  int64
 5   NumberCarsOwned  12384 non-null  int64
 6   Age              12384 non-null  int64
 7   MotorCycleBuyer  12384 non-null  int64
dtypes: int64(8)
memory usage: 774.1 KB

In [4]:
test_data = pd.read_csv('https://raw.githubusercontent.com/Yash-Kavaiya/iitm-diploma/main/BA/test_LR.csv')
test_data

,MaritalStatus,YearlyIncome,TotalChildren,ChildrenAtHome,HouseOwnerFlag,NumberCarsOwned,Age,MotorCycleBuyer
0,1,80000,4,2,1,1,47,0
1,0,40000,4,0,0,2,51,0
2,0,20000,2,2,1,0,28,0
3,1,80000,4,0,0,0,28,1
4,1,40000,0,0,1,2,19,0
...,...,...,...,...,...,...,...,...
6095,0,40000,0,0,1,1,27,1
6096,0,40000,1,0,1,0,59,1
6097,0,30000,1,0,1,0,37,0
6098,0,80000,2,1,1,3,46,1
6099,0,80000,2,0,0,1,39,1

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6100 entries, 0 to 6099
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MaritalStatus    6100 non-null   int64
 1   YearlyIncome     6100 non-null   int64
 2   TotalChildren    6100 non-null   int64
 3   ChildrenAtHome   6100 non-null   int64
 4   HouseOwnerFlag   6100 non-null   int64
 5   NumberCarsOwned  6100 non-null   int64
 6   Age              6100 non-null   int64
 7   MotorCycleBuyer  6100 non-null   int64
dtypes: int64(8)
memory usage: 381.4 KB

### Q1. How many observations are available in the training data?

In [6]:
train_data.shape[0]

12384

### Q2. How many observations are available in the test data?

In [7]:
test_data.shape[0]

6100

### Q3. What is the proportion of customers who have not bought cycles in the training dataset?

In [8]:
round(len(train_data[train_data['MotorCycleBuyer']==0])/len(train_data), 2)*100

50.0

### Q4. What is the proportion of customers who have bought cycles in the training dataset?

In [15]:
train_data.MotorCycleBuyer.value_counts()

0    6244
1    6140
Name: MotorCycleBuyer, dtype: int64

In [16]:
(6140/12384)*100

49.58010335917313

In [8]:

# Print the classification report for training and test data predictions
print("Classification Report - Training Data:\n", classification_report(y_train, y_pred_train))
print("\nClassification Report - Test Data:\n", classification_report(y_test, y_pred_test))

# Create the confusion matrix for test data
confusion_matrix = confusion_matrix(y_test, y_pred_test)
print("\nConfusion Matrix - Test Data:\n", confusion_matrix)

# How many observations are available in the training data?


# What is the proportion of customers who have not purchased a motorcycle in the test dataset?
print("\nProportion of customers who have not purchased a motorcycle in the test dataset:",
      round(len(test_data[test_data['y']==0])/len(test_data), 2))

# What is the proportion of customers who have purchased a motorcycle in the test dataset?
print("\nProportion of customers who have purchased a motorcycle in the test dataset:",
      round(len(test_data[test_data['y']==1])/len(test_data), 2))

# What is the training accuracy?
print("\nTraining Accuracy:", round(lr.score(X_train, y_train), 2))



# What is the training data recall of your model if the aim is to find customers who will purchase a motorcycle?
print("\nTraining Recall (Customers Purchasing a Motorcycle):",
      round(confusion_matrix[1][1]/(confusion_matrix[1][1]+confusion_matrix[1][0]), 2))

# Identify the number of predictions that have a type 1 error.
print("\nNumber of Type 1 Errors (False Positives):", confusion_matrix[0][1])

# In the test data confusion matrix, identify the number of predictions that have a type 2 error.
print("\nNumber of Type 2 Errors (False Negatives):", confusion_matrix[1][0])

# What is the accuracy of the model in the test data?
print("\nAccuracy - Test Data:", round(lr.score(X_test, y_test), 2))

# What is the precision of your model in the test data if the aim is to find customers who will not purchase the motorcycle?
print("\nPrecision (Customers Not Purchasing a Motorcycle) - Test Data:",
      round(confusion_matrix[0][0]/(confusion_matrix[0][0]+confusion_matrix[1][0]), 2))

# Has the precision for customers purchasing a motorcycle increased or decreased when the model is tested on the testing data set as compared to the results obtained from the training data set?
print("\nThe precision for customers purchasing a motorcycle is equal when tested on both training and testing datasets.")

# What is the recall of your model in the test data if the aim is to find customers who will purchase the motorcycle?
print("\nRecall (Customers Purchasing a Motorcycle) - Test Data:")

NameError: name 'y_train' is not defined

In [4]:
# Load train data
train_data = pd.read_csv('https://raw.githubusercontent.com/Yash-Kavaiya/iitm-diploma/main/BA/train_LR.csv')

In [5]:
train_data

,MaritalStatus,YearlyIncome,TotalChildren,ChildrenAtHome,HouseOwnerFlag,NumberCarsOwned,Age,MotorCycleBuyer
0,1,150000,4,5,1,4,45,0
1,1,120000,1,1,1,4,36,0
2,1,70000,2,0,0,2,38,0
3,1,80000,5,4,1,3,35,0
4,0,100000,3,2,0,1,40,0
...,...,...,...,...,...,...,...,...
12379,0,120000,1,0,1,1,26,1
12380,0,170000,1,3,0,3,35,0
12381,0,40000,0,0,0,1,17,0
12382,1,70000,1,0,1,0,25,1
12383,1,80000,4,2,1,2,44,0

In [6]:
X_train = train_data.drop('MotorCycleBuyer', axis=1)
y_train = train_data['MotorCycleBuyer']

In [12]:
print("\nNumber of observations available in the training data:", len(train_data))

Number of observations available in the training data: 12384

In [8]:


# Create dependent and independent variables for test module
X_test = test_data.drop('MotorCycleBuyer', axis=1)
y_test = test_data['MotorCycleBuyer']

In [13]:
test_data
# How many observations are available in the test data?
print("\nNumber of observations available in the test data:", len(test_data))

Number of observations available in the test data: 6100

In [11]:
train_data.MotorCycleBuyer.value_counts()

0    6244
1    6140
Name: MotorCycleBuyer, dtype: int64

In [16]:
# What is the proportion of customers who have not purchased a motorcycle in the training dataset?
print("\nProportion of customers who have not purchased a motorcycle in the training dataset:",
      round(len(train_data[train_data['MotorCycleBuyer']==0])/len(train_data), 2))

# What is the proportion of customers who have purchased a motorcycle in the training dataset?
print("\nProportion of customers who have purchased a motorcycle in the training dataset:",
      round(len(train_data[train_data['MotorCycleBuyer']==1])/len(train_data), 2))

# What is the proportion of customers who have not purchased a motorcycle in the test dataset?
print("\nProportion of customers who have not purchased a motorcycle in the test dataset:",
      round(len(test_data[test_data['MotorCycleBuyer']==0])/len(test_data), 2))

# What is the proportion of customers who have purchased a motorcycle in the test dataset?
print("\nProportion of customers who have purchased a motorcycle in the test dataset:",
      round(len(test_data[test_data['MotorCycleBuyer']==1])/len(test_data), 2))

Proportion of customers who have not purchased a motorcycle in the training dataset: 0.5

Proportion of customers who have purchased a motorcycle in the training dataset: 0.5

Proportion of customers who have not purchased a motorcycle in the test dataset: 0.51

Proportion of customers who have purchased a motorcycle in the test dataset: 0.49

In [18]:
# Fit the model on X_train and y_train
lr = LogisticRegression(random_state=17)
lr.fit(X_train, y_train)

# Predict on X_train and store the predictions in y_pred_train
y_pred_train = lr.predict(X_train)

# Predict on X_test and store the predictions in y_pred_test
y_pred_test = lr.predict(X_test)

In [19]:
print("\nTraining Accuracy:", round(lr.score(X_train, y_train), 2))

Training Accuracy: 0.51

In [25]:
import numpy as np
X=np.array([[1,2,3],[1,5,9],[8,8,9]])